
<div class="container-fluid mt-2 sticky-top bg-light shadow">
    <div class="row">
        <div class="HeadMenu"><a class="a-header" href="{% url 'StoreMenuApp:ReceptLV' %}">رسید/حواله</a></div>
        <div class="HeadMenu"><a class="a-header" href="{% url 'StoreMenuApp:StoreLV' %}"> انبار</a></div>
        <div class="HeadMenu"><a class="a-header" href="{% url 'StoreMenuApp:GoodsAndServicesLV' %}"> کالا</a></div>
        <div class="HeadMenu"><a class="a-header" href="{% url 'StoreMenuApp:CustomersLV' %}"> مشتری</a></div>
    </div>
    <br/>
</div>
