{% load static %}



<div class="modal fade" id="usersreportmodal" style="z-index: 20000000000000;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    مشتری گرامی :
                </h5>

            </div>
            <div class="modal-body table-responsive">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <p id="usersreportmodalcontent"
                            class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m-4 text-start text-dark fw-bold">
                        </p>

                    </div><!-- End .col-lg-9 -->
                </div><!-- End .row -->
            </div><!-- End .col-lg-9 -->
        </div><!-- End .row -->
    </div><!-- End .col-lg-9 -->
</div><!-- End .row -->




<div class="modal fade" id="reportmodal" style="z-index: 20000000000000;" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    کاربر گرامی :
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body table-responsive">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  mb-3 border-bottom">
                        <label class="ext-start text-dark fw-bold h6">پیام :</label>
                        <p id="reportmodalcontentText"
                            class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m-4 text-start text-dark fw-bold">
                        </p>
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 border-bottom">
                        <label class="ext-start text-dark fw-bold h6">پیام سیستمی :</label>
                        <p id="reportmodalcontent"
                            class="col-lg-12 col-md-12 col-sm-12 col-xs-12 m-4 text-start text-danger fw-bold">

                        </p>

                    </div><!-- End .col-lg-9 -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"> <i
                                class="fa fa-window-close"></i> بستن</button>
                    </div>
                </div><!-- End .row -->
            </div><!-- End .col-lg-9 -->
        </div><!-- End .row -->
    </div><!-- End .col-lg-9 -->
</div><!-- End .row -->

<div class="modal fade" id="TrnasCreateFromRecept" style="z-index: 300000000000000000000;" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered modal-dialog-scrollable radius-20">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    کاربر گرامی :
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body table-responsive">
                <div class="row mt-1">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <p id="errorShow"
                            class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-start text-danger fw-bold">
                        </p>
                        <hr />
                        <p class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-start text-dark fw-bold">
                            آیا مایل به ایجاد سند برای هزینه های جدید هستید ؟
                        </p>
                        <div class="modal-footer">
                            <button id="DontAccept" type="button" class="btn btn-danger"
                                data-bs-dismiss="modal">انصراف</button>
                            <button id="TransCreateRID" type="button" class="btn btn-success"
                                data-bs-dismiss="modal">بلی</button>
                        </div>
                    </div><!-- End .col-lg-9 -->
                </div><!-- End .row -->
            </div><!-- End .col-lg-9 -->
        </div><!-- End .row -->
    </div><!-- End .col-lg-9 -->
</div><!-- End .row -->

<div class="modal fade" id="DeleteConfirm" style="z-index: 300000000000000;" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered modal-dialog-scrollable radius-20">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    کاربر گرامی :
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body table-responsive">
                <div class="row mt-1">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                        <p id="DeleteConfirmContent"
                            class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-start text-dark fw-bold">
                        </p>
                        <div class="modal-footer">
                            <button id="DontAccept" type="button" class="btn btn-danger"
                                data-bs-dismiss="modal">انصراف</button>
                            <button id="DeleteConfirmIsOK" type="button" class="btn btn-success"
                                data-bs-dismiss="modal">بلی</button>
                        </div>
                    </div><!-- End .col-lg-9 -->
                </div><!-- End .row -->
            </div><!-- End .col-lg-9 -->
        </div><!-- End .row -->
    </div><!-- End .col-lg-9 -->
</div><!-- End .row -->

