{% extends 'share/CmsMainpage.html' %}
{% load static %}

{% block title %}
{{ super }} گزارش بیمار ها
{% endblock %}

{% block body %}
{% if user.is_authenticated and user.is_staff and user.is_superuser %}
{% include 'partials/dashboard_header.html' %}
{% include 'partials/side_menu_dashboard.html' %}
<div class="wrapper">
    <div class="page-wrapper">
        <div class="page-content">
            <div class="p-2 fw-bold" style="background-color:lightgray ; border-radius: 5px;">
                <span><a href="">خانه</a></span> / <span>مدیریت لیست بیمار ها</span>
            </div>
            
            <div class="row ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">

                    <input id="ModelName"       type="hidden" value="CustomersList">
                    <input id="idname"          type="hidden" value="MasterTable">
                    <input id="URL"             type="hidden" value="CustomersListDT">
                    <input id="URLDetail"       type="hidden" value="">
                    <input id="RedirectURL"     type="hidden" value="CustomersList">
                    <input id="ModelDetailName" type="hidden" value="">
                    <input id="SerializersName" type="hidden" value="CustomersListSerializers">
                    <input id="CreateKeyID"     type="hidden" value="CustomersListC">
                    <input id="UpdateKeyID"     type="hidden" value="CustomersListU">
                    <input id="rowid"           type="hidden" value="0">
                    <input id="UpdateRorwID"    type="hidden" value="0">
                    <input id="BtnCreateURL"    type="hidden" value="Create">
                    <input id="BtnUpdateURL"    type="hidden" value="Update">

                    {% include 'partials/MasterKeys.html' %}
                    <table class=" col-12 border-bottom" style="margin-bottom: 10px;">
                        <tr>
                            <td class="container"
                                style="text-align: center; padding: 1%; font-size: larger; font-weight: bolder;">
                                گزارش بیمار ها
                            </td>
                        </tr>
                    </table>
                    <div class="card">
                        <div class="card-body">
                            <table id="MasterTable" class="display" style="width: 100%;">
                                <thead>
                                    <tr>
                                        <th class="text-center" id="SelectAll"><input id="SelectAllInput"
                                                type="checkbox" class="select-checkbox"></th>
                                        <th class="text-center">کلیدها</th>
                                        <th class="text-center">کد</th>
                                        <th class="text-center">کد ملی</th>
                                        <th class="text-center">نام</th>
                                        <th class="text-center">فامیلی</th>
                                        <th class="text-center">نوع بیمه</th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                            </table>
                        </div><!-- End .col-lg-9 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .dashboard -->
        </div><!-- End .page-content -->
    </div><!-- End .main -->
</div><!-- End .page-wrapper -->
{% include 'partials/reportmodal.html' %}
{% include 'CustomersList_CU.html' %}
{% endif %}
{% endblock %}