<div class="container quickView-container">
	<div class="quickView-content">
		<div class="row">
			<div class="col-lg-7 col-md-6">
				<div class="row">
					<div class="product-left">
						<a href="#one" class="carousel-dot active">
							<img src="../..//popup/assets/images/popup/quickView/1.jpg">
						</a>
						<a href="#two" class="carousel-dot">
							<img src="../..//popup/assets/images/popup/quickView/2.jpg">
						</a>
						<a href="#three" class="carousel-dot">
							<img src="../..//popup/assets/images/popup/quickView/3.jpg">
						</a>
						<a href="#four" class="carousel-dot">
							<img src="../..//popup/assets/images/popup/quickView/4.jpg">
						</a>
					</div>
					<div class="product-right">
						<div class="owl-carousel owl-theme owl-nav-inside owl-light mb-0" data-toggle="owl"
							data-owl-options='{
	                        "dots": false,
	                        "nav": false, 
	                        "URLhashListener": true,
	                        "responsive": {
	                            "900": {
	                                "nav": true,
	                                "dots": true
	                            }
	                        }
	                    }'>
							<div class="intro-slide" data-hash="one">
								<img src="../..//popup/assets/images/popup/quickView/1.jpg" توضیحات عکس">
								<a href="./..//popup/popup/fullscreen.html" class="btn-fullscreen">
									<i class="icon-arrows"></i>
								</a>
							</div><!-- End .intro-slide -->

							<div class="intro-slide" data-hash="two">
								<img src="../..//popup/assets/images/popup/quickView/2.jpg" توضیحات عکس">
								<a href="../..//popup/popup/fullscreen.html" class="btn-fullscreen">
									<i class="icon-arrows"></i>
								</a>
							</div><!-- End .intro-slide -->

							<div class="intro-slide" data-hash="three">
								<img src="../..//popup/assets/images/popup/quickView/3.jpg" توضیحات عکس">
								<a href="./..//popup/popup/fullscreen.html" class="btn-fullscreen">
									<i class="icon-arrows"></i>
								</a>
							</div><!-- End .intro-slide -->

							<div class="intro-slide" data-hash="four">
								<img src="../..//popup/assets/images/popup/quickView/4.jpg" توضیحات عکس">
								<a href="./..//popup/popup/fullscreen.html" class="btn-fullscreen">
									<i class="icon-arrows"></i>
								</a>
							</div><!-- End .intro-slide -->
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-5 col-md-6">
				<h2 class="product-title">لباس جنس کتان</h2>
				<h3 class="product-price">60,000 ریال</h3>

				<div class="ratings-container">
					<div class="ratings">
						<div class="ratings-val" style="width: 20%;"></div><!-- End .ratings-val -->
					</div><!-- End .ratings -->
					<span class="ratings-text">( 2 دیدگاه )</span>
				</div><!-- End .rating-container -->

				<p class="product-txt">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم لورم ایپسوم متن ساختگی با تولید
					سادگی نامفهوم</p>


				<div class="details-filter-row product-nav product-nav-thumbs">
					<label for="size">رنگ : </label>
					<a href="#" class="active">
						<img src="../..//popup/assets/images/popup/quickView/product-1-thumb.jpg"
							product desc">
					</a>
					<a href="#">
						<img src="../..//popup/assets/images/popup/quickView/product-1-2-thumb.jpg"
							product desc">
					</a>
				</div><!-- End .product-nav -->

				<div class="details-filter-row details-row-size">
					<label for="size">سایز : </label>
					<div class="select-custom">
						<select name="size" id="size" class="form-control">
							<option value="#" selected="selected">انتخاب یک سایز</option>
							<option value="s">کوچک</option>
							<option value="m">متوسط</option>
							<option value="l">بزرگ</option>
							<option value="xl">خیلی بزرگ</option>
						</select>
					</div><!-- End .select-custom -->
				</div>


				<div class="details-filter-row details-row-size">
					<label for="qty">تعداد : </label>
					<div class="product-details-quantity">
						<input type="number" id="qty" class="form-control" value="1" min="1" max="10" step="1"
							data-decimals="0" required>
					</div><!-- End .product-details-quantity -->
				</div><!-- End .details-filter-row -->

				<div class="product-details-action">
					<div class="details-action-wrapper">
						<a href="#" class="btn-product btn-wishlist" title="لیست علاقه مندی"><span>افزودن به
								لیست علاقه مندی</span></a>
						<a href="#" class="btn-product btn-compare" title="مقایسه"><span>افزودن به لیست
								مقایسه</span></a>
					</div><!-- End .details-action-wrapper -->
					<a href="#" class="btn-product btn-cart"><span>افزودن به سبد خرید</span></a>
				</div>

				<div class="product-details-footer">
					<div class="product-cat">
						<span>دسته ها : </span>
						<a href="#">زنانه</a>،
						<a href="#">لباس زنانه</a>،
						<a href="#">زرد</a>
					</div><!-- End .product-cat -->

					<div class="social-icons social-icons-sm">
						<span class="social-label">اشتراک گذاری در : </span>
						<a href="#" class="social-icon" title="فیسبوک" target="_blank"><i
								class="icon-facebook-f"></i></a>
						<a href="#" class="social-icon" title="توییتر" target="_blank"><i class="icon-twitter"></i></a>
						<a href="#" class="social-icon" title="اینستاگرام" target="_blank"><i
								class="icon-instagram"></i></a>
						<a href="#" class="social-icon" title="پینترست" target="_blank"><i
								class="icon-pinterest"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>