{% load static %}
<!DOCTYPE html>
<html dir="rtl">

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8" content="*">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/CMSAssets/images/login-images/LoginPic1.jpg' %}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="G.W.APP">
    <meta name="description" content="Gold Web APP">
    <meta name="author" content="Avash.b">
    <!-- Favicon -->
    <meta name="apple-mobile-web-app-title" content="receptionapp.S.APP">
    <meta name="application-name" content="receptionapp.S.APP">


    <!-- loader-->
    <link rel="stylesheet"
        href="{% static 'assets/CMSAssets/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/CMSAssets/css/pace.min.css' %}" />
    <script src="{% static 'assets/CMSAssets/js/pace.min.js' %}"></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'assets/CMSAssets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/CMSAssets/css/bootstrap-rtl.min.css' %}">
    <!-- Plugins -->

    <link href="{% static 'assets/CMSAssets/plugins/fancy-file-uploader/fancy_fileupload.css' %}" rel="stylesheet" />
	<link href="{% static 'assets/CMSAssets/plugins/Drag-And-Drop/dist/imageuploadify.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/CMSAssets/plugins/persiandatepicker/persian-datepicker-0.4.5.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/CMSAssets/plugins/select2/css/select2.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/CMSAssets/plugins/select2/css/select2-bootstrap4.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'assets/CMSAssets/plugins/simplebar/css/simplebar.css' %}" />
    <link rel="stylesheet" href="{% static 'assets/CMSAssets/plugins/perfectscrollbar/css/perfectscrollbar.css' %}" />
    <link href="{% static 'assets/CMSAssets/plugins/metismenu/css/metisMenu.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/CMSAssets/plugins/datatable/css/dataTables.bootstrap5.min.css' %}" rel="stylesheet" />
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'assets/CMSAssets/css/MainCSS.css' %}">
    <link rel="stylesheet" href="{% static 'assets/CMSAssets/css/app.css' %}">
    <link rel="stylesheet" href="{% static 'assets/CMSAssets/css/icons.css' %}">
    <!-- Main JS File -->
    <link rel="stylesheet" href="{% static 'assets/CMSAssets/css/select.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/CMSAssets/css/jquery.dataTables.min.css' %}">

    <link rel="stylesheet" href="{% static 'assets/CMSAssets/plugins/datatable/css/buttons.dataTables.min.css' %}">
  
    <!-- Fontawesome -->
    <link rel="stylesheet" href="{% static 'assets/CMSAssets/fonts/fontawesome-free-5.15.1-web/css/all.css' %}">
    
    
    <title>
        انبار | 
        {% block title %}
           
        {% endblock %}
    </title>

</head>


<body class=" rtl">

    {% block body %}

    {% endblock %}

    
</body>
<div id="loader" class="center"></div>

<!-- Plugins JS File -->
<script src="{% static 'assets/CMSAssets/js/jquery.min.js' %}"></script>



<!-- metisMenu JS -->
<script src="{% static 'assets/CMSAssets/plugins/metismenu/js/metisMenu.min.js' %}"></script>

<!-- perfect-scrollbar JS -->
<script src="{% static 'assets/CMSAssets/plugins/perfect-scrollbar/js/perfect-scrollbar.js' %}"></script>
<script src="{% static 'assets/CMSAssets/plugins/chartjs/js/Chart.min.js' %}"></script>
<script src="{% static 'assets/CMSAssets/plugins/chartjs/js/chartjs-custom.js' %}"></script>

<script src="{% static 'assets/CMSAssets/plugins/persiandatepicker/persian-date-0.1.8.min.js' %}"></script>
<script src="{% static 'assets/CMSAssets/plugins/persiandatepicker/persian-datepicker-0.4.5.min.js' %}"></script>
<!-- bootstrap.bundle JS -->
<script src="{% static 'assets/CMSAssets/js/bootstrap.bundle.min.js' %}"></script>

<!-- DataTable JS -->
<script src="{% static 'assets/CMSAssets/plugins/datatable/js/dataTables.bootstrap5.min.js' %}"></script>
<script src="{% static 'assets/CMSAssets/plugins/datatable/js/jquery.dataTables.min.js' %}"></script>

<script src="{% static 'assets/CMSAssets/plugins/datatable/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'assets/CMSAssets/plugins/datatable/js/jszip.min.js' %}"></script>
<script src="{% static 'assets/CMSAssets/plugins/datatable/js/pdfmake.min.js' %}"></script>
<script src="{% static 'assets/CMSAssets/plugins/datatable/js/vfs_fonts.js' %}"></script>
<script src="{% static 'assets/CMSAssets/plugins/datatable/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'assets/CMSAssets/plugins/datatable/js/buttons.print.min.js' %}"></script>


<script src="{% static 'assets/CMSAssets/js/dataTables.select.min.js' %}"></script>

<!-- app JS -->
<script src="{% static 'assets/CMSAssets/js/app.js' %}"></script>
<!-- Main JS File -->

<!-- Other Plugins JS -->
<script src="{% static 'assets/CMSAssets/plugins/input-tags/js/tagsinput.js' %}"></script>
<script src="{% static 'assets/CMSAssets/plugins/select2/js/select2.min.js' %}"></script>
<script src="{% static 'assets/CMSAssets/plugins/fancy-file-uploader/jquery.ui.widget.js' %}"></script>
<script src="{% static 'assets/CMSAssets/plugins/fancy-file-uploader/jquery.fileupload.js' %}"></script>
<script src="{% static 'assets/CMSAssets/plugins/fancy-file-uploader/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'assets/CMSAssets/plugins/fancy-file-uploader/jquery.fancy-fileupload.js' %}"></script>
<script src="{% static 'assets/CMSAssets/plugins/Drag-And-Drop/dist/imageuploadify.min.js' %}"></script>

<script src="{% static 'assets/CMSAssets/plugins/fancy-file-uploader/jquery.ui.widget.js' %}"></script>
<script src="{% static 'assets/CMSAssets/plugins/fancy-file-uploader/jquery.fileupload.js' %}"></script>
<script src="{% static 'assets/CMSAssets/plugins/fancy-file-uploader/jquery.iframe-transport.js' %}"></script>
<script src="{% static 'assets/CMSAssets/plugins/fancy-file-uploader/jquery.fancy-fileupload.js' %}"></script>
<script src="{% static 'assets/CMSAssets/plugins/Drag-And-Drop/dist/imageuploadify.min.js' %}"></script>
<script>
    $('#fancy-file-upload').FancyFileUpload({
        params: {
            action: 'fileuploader'
        },
        maxfilesize: 1000000
    });

    
    $('#image-uploadify').imageuploadify();
    
    $('.datepicker2').mouseenter(function(){
        $(this).css('z-index', '9000000000000000')
    })
    
    $('.datepicker2').persianDatepicker({
        'format': 'YYYY/MM/DD',
        'autoclose': true,
        showOtherMonths: true,
        selectOtherMonths: true,
    });
    $("#tarikh").persianDatepicker({
        altField: "#tarikhAlt",
        altFormat: "X",
        format: "D MMMM YYYY HH:mm a",
        observer: true,
        timePicker: {
            enabled: true
        }
    });
</script>
{% include 'StoreMenuApp/templates/partials/link.html' %}
</html>